{% extends 'base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "position_similarity/styles.css" %}">
{% endblock %}
{% block content %}
    <section id="canvas" class="centered_container">
        <h2>Query</h2>
        <div id="container">
            <div id="canvas_overlay" style="background-image: url('{{ search_image }}')">
            </div>
        </div>
        <input type="text" name="image_url" value="https://www.matfyz.cz/files/hlrljg-mathematics-1550844-639x453.jpg"
               id="image_url">
        <button type="button" id="add_image">Add image</button>
        <select id="position_method" onChange="sendRequest()">
            <option value="regions">Regions Similarity (4x3)</option>
            <option value="spatially">Spatial Similarity</option>
        </select>
        <a href="javascript:showImageTemporarly(true)" id="show_image_show">Show searched
            image</a>
        <a href="javascript:showImageTemporarly(false)" id="show_image_hide" style="display:none;">Hide searched
            image</a>
    </section>

    <script>
        var available_id = 0;

        function getAllImagesPositions() {
            let images = jQuery(".canvas_image");
            let canvas = jQuery("#container");
            let images_information = [];
            for (var i = 0; i < images.length; i++) {
                let image = images.eq(i);
                images_information.push({
                    url: image.children("img").attr("src"),
                    top: image.position().top / canvas.height(),
                    left: image.position().left / canvas.width(),
                    width: image.width() / canvas.width(),
                    height: image.height() / canvas.height()
                })
            }

            return images_information;
        }

        function sendRequest() {
            console.log("Sending request.");
            console.log(getAllImagesPositions());

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "{% url 'position_similarity_post' %}",
                data: {
                    "json_data": JSON.stringify({
                        "images": getAllImagesPositions(),
                        "method": getSelectedMethod(),
                        "overlay_image": $("#canvas_overlay").css("background-image"),
                        "num_hints": num_hints
                    })
                },
                success(response) {
                    image_table($(".search_results"), response['ranking_results']);
                },
                failure(data) {
                    console.log("Failure", data); // TODO
                }
            });
        }

        function reloadResizeable() {
            const image = jQuery(".canvas_image");

            image.draggable({
                containment: "#container",
                stop: function (event, ui) {
                    sendRequest()
                }
            });

            image.resizable({
                aspectRatio: true,
                containment: "#container",
                stop: function (event, ui) {
                    sendRequest()
                }
            });
        }

        function deleteElementByUid(uid) {
            console.log("deleting", uid);
            var elem = document.getElementById(uid);
            elem.remove();
            sendRequest();
        }

        function getSelectedMethod() {
            var elem = document.getElementById("position_method");
            return elem.options[elem.selectedIndex].value;
        }

        function canvas_image_html(uid, src) {
            return `<div id="${uid}" class="canvas_image ui-widget-content"><span class=\"delete\" onclick="deleteElementByUid($(this).closest('div').attr('id'))">&times;</span><img src="${src}"></div>`;
        }

        function overlayImage(to_display) {
            $("#canvas_overlay").css('z-index', (to_display ? 1 : -1))
        }

        var timeout;
        var num_hints = 0;
        function showImageTemporarly(to_display) {
            num_hints++;
            clearTimeout(timeout);

            $("#show_image_show").toggle();
            $("#show_image_hide").toggle();

            overlayImage(to_display); // Show or hide image

            if (to_display) { // If showed
                timeout = setTimeout(function () {
                    showImageTemporarly(false)
                }, 3000); // Hide it after 3 seconds
            }
        }

        (function ($) {
            $(document).ready(function () {
                $(function () {
                    showImageTemporarly(true);
                });

                $('#add_image').click(function () {
                    const url = ($('#image_url').val());
                    $("#container").append(canvas_image_html("image_" + available_id, url));
                    available_id++;

                    reloadResizeable();
                    sendRequest();
                });
            });

            document.onpaste = function (event) {
                // use event.originalEvent.clipboard for newer chrome versions
                var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                console.log(JSON.stringify(items)); // will give you the mime types
                // find pasted image among pasted items
                var blob = null;
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") === 0) {
                        blob = items[i].getAsFile();
                    }
                }
                // load image if there is a pasted image
                if (blob !== null) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        const encoded_image = event.target.result;
                        $("#container").append(canvas_image_html("image_" + available_id, encoded_image));
                        available_id++;
                        reloadResizeable();
                    };
                    reader.readAsDataURL(blob);
                }
            };
        })(jQuery);
    </script>
{% endblock %}