{% extends 'base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "styles/position_similarity_styles.css" %}">
{% endblock %}
{% block content %}
    <section id="canvas" class="centered_container">
        <div id="collage_canvas">
            <div id="canvas_overlay" style="background-image: url('{{ search_image }}')">
            </div>
        </div>

        <div id="canvas_tools">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="image_url" name="image_url" value="">
                <label class="mdl-textfield__label" for="image_url">Image URL</label>
            </div>

            <button type="button" id="add_image"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add
                image
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised" onclick="sendRequest()">
                Query
            </button>
            {##}
            <button id="demo-menu-lower-left"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                <li class="mdl-menu__item menu_item_selected" id="menu_item_regions"
                    onclick="method='regions';update_selected_method('#menu_item_regions');sendRequest()">Regions
                </li>
                <li class="mdl-menu__item"
                    onclick="method='spatially';update_selected_method('#menu_item_custom_cutting');sendRequest()"
                    id="menu_item_custom_cutting">Custom
                    cutting
                </li>
            </ul>

            <label class="mdl-icon-toggle mdl-js-icon-toggle  mdl-js-ripple-effect" for="image_show_toggle"
                   id="image_show_toggle_label">
                <input type="checkbox" id="image_show_toggle" class="mdl-icon-toggle__input" onclick="checkCheckbox()" >
                <i class="mdl-icon-toggle__label material-icons">photo</i>
                <div class="mdl-tooltip" for="image_show_toggle_label">
                    Show Image
                </div>
            </label>

            <button class="mdl-button mdl-js-button mdl-button--icon" id="submit_collage_label">
                <i class="material-icons" onclick="submitCollage()">save</i>
                <div class="mdl-tooltip" for="submit_collage_label">
                    Submit Collage
                </div>
            </button>

            <div id="loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="auto_send_request_switch">
                <input type="checkbox" id="auto_send_request_switch" class="mdl-switch__input" checked
                       onchange="onAutoSendRequestChange()">
                <div class="mdl-switch__label">Auto Send Request</div>
            </label>


        </div>

    </section>

    <script>
        var auto_send_request = 1;
        var available_id = 0;
        const image_width = 320;
        const image_height = 180;
        var method = 'regions';

        function checkCheckbox() {
            to_display = $("#image_show_toggle").prop("checked");
            showImageTemporarly(to_display);
        }

        function getAllImagesPositions() {
            let images = jQuery(".canvas_image");
            let canvas = jQuery("#collage_canvas");
            let images_information = [];
            for (var i = 0; i < images.length; i++) {
                let image = images.eq(i);
                images_information.push({
                    url: image.children("img").attr("src"),
                    top: image.position().top / canvas.height(),
                    left: image.position().left / canvas.width(),
                    width: image.width() / canvas.width(),
                    height: image.height() / canvas.height()
                })
            }

            return images_information;
        }

        function submitCollage() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url 'position_similarity_submit_collage' %}",
                data: {
                    "json_data": JSON.stringify({
                        "images": getAllImagesPositions(),
                        "overlay_image": $("#canvas_overlay").css("background-image"),
                    })
                }
            });
        }

        function sendRequest() {
            console.log("Sending request.");
            console.log(getAllImagesPositions());

            if(getAllImagesPositions().length < 1){
                $("#results").hide();
                return;
            }

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url 'position_similarity_post' %}",
                data: {
                    "json_data": JSON.stringify({
                        "images": getAllImagesPositions(),
                        "method": getSelectedMethod(),
                        "overlay_image": $("#canvas_overlay").css("background-image"),
                        "num_hints": num_hints
                    })
                },
                beforeSend: function () {
                    $("#loading").show();
                },
                success(response) {
                    $("#loading").hide();
                    $("#results").show();

                    image_table($(".search_results"), response['ranking_results']);
                    addRegions(response['matched_regions']);
                    $("#search_image_rank_value").text(response['search_image_rank']);
                    console.log(response);

                },
                failure(data) {
                    console.log("Failure", data); // TODO
                }
            });
        }

        function addRegions(regions) {
            console.log(regions);
            let result_images = $("#results .search_results .item img");

            for (const image of result_images) {
                if ($(image).attr('src') in regions) {
                    for (const region of regions[$(image).attr('src')]) {
                        highlightRegion($(image), region[0] * image_width, region[1] * image_height, region[2] * image_width, region[3] * image_height)
                    }
                }
            }

        }

        function update_selected_method(id) {
            $(id).siblings().removeClass("menu_item_selected");
            $(id).addClass("menu_item_selected");
        }


        function highlightRegion(element, x, y, width, height) {
            $(element).after(`<svg>
                    <rect x='${x}' y='${y}' width='${width}' height='${height}'/>
                </svg>`);
        }

        function reloadResizeable() {
            const image = $(".canvas_image");
            const containment = $("#collage_canvas");

            image.draggable({
                containment: containment,
                stop: function (event, ui) {
                    if (auto_send_request) {
                        sendRequest();
                    }

                }
            });

            image.resizable({
                aspectRatio: true,
                containment: containment,
                stop: function (event, ui) {
                    if (auto_send_request) {
                        sendRequest();
                    }
                }
            });
        }

        function deleteElementByUid(uid) {
            console.log("deleting", uid);
            var elem = document.getElementById(uid);
            elem.remove();
            if (auto_send_request) {
                sendRequest();
            }

        }

        function getSelectedMethod() {
            return method;
        }

        function canvas_image_html(uid, src) {
            return `<div id="${uid}" class="canvas_image ui-widget-content"><span class=\"delete\" onclick="deleteElementByUid($(this).closest('div').attr('id'))">&times;</span><img src="${src}"></div>`;
        }

        function overlayImage(to_display) {
            $("#canvas_overlay").css('z-index', (to_display ? 1 : -1))
        }

        var timeout;
        var num_hints = 0;

        function showImageTemporarly(to_display) {
            console.log(to_display);
            $("#image_show_toggle").prop("checked", to_display);
            $("#image_show_toggle_label").toggleClass("is-checked");

            num_hints++;
            clearTimeout(timeout);

            $("#show_image_show").toggle();
            $("#show_image_hide").toggle();

            overlayImage(to_display); // Show or hide image

            if (to_display) { // If showed
                timeout = setTimeout(function () {
                    showImageTemporarly(false);
                }, 3000); // Hide it after 3 seconds
            }
        }

        function onAutoSendRequestChange() {
            if ($('#auto_send_request_switch').is(':checked')) {
                auto_send_request = 1;
            } else {
                auto_send_request = 0;
            }
        }

        (function ($) {
            $(document).ready(function () {


                $("#additional_ranking_information").show();

                $(function () {
                    showImageTemporarly(true);
                });

                $('#add_image').click(function () {
                    const url = ($('#image_url').val());
                    $("#collage_canvas").append(canvas_image_html("image_" + available_id, url));
                    available_id++;

                    reloadResizeable();
                    if (auto_send_request) {
                        sendRequest();
                    }
                });
                $("#loading").hide();
            });

            document.onpaste = function (event) {
                // use event.originalEvent.clipboard for newer chrome versions
                var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                console.log(JSON.stringify(items)); // will give you the mime types
                // find pasted image among pasted items
                var blob = null;
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") === 0) {
                        blob = items[i].getAsFile();
                    }
                }
                // load image if there is a pasted image
                if (blob !== null) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        const encoded_image = event.target.result;
                        $("#collage_canvas").append(canvas_image_html("image_" + available_id, encoded_image));
                        available_id++;
                        reloadResizeable();
                    };
                    reader.readAsDataURL(blob);
                }
            };
        })(jQuery);
    </script>
{% endblock %}