#container {
    background-color: #F9f9f9;
    width: 1280px;
    max-width: 1280px;
    height: 720px;
    max-height: 720px;
    position: relative;
    margin: 0 auto
}

.canvas_image {
    border-color: blue;
    background-color: black;
    position: absolute !important;
    width: 20%;
}


.canvas_image img {
    width: 100%
}

.canvas_image .delete {
    position:absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 60%;
}

.canvas_image:hover .delete {
    opacity: 1;
}

header {
    background-color: #2b2b2b;
    color: #c5c5c5;
    width: 100%;
}

h1 {
    color: #454545;
    padding-left: 30px;
    padding-top: 10px
}

header div {
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered_container {
    width: 70%;
    margin: 0 auto
}

section #container {
    width: 100%;
}

#results {
    background-color: #2b2b2b;
    color: #c5c5c5;
    width: 100%;
}

#results h1 {
    color: #c5c5c5;
}


#ranking {
}

#ranking img {
    width: 100%;
}

.ranking_table {
    display: table;
    width: 100%
}

.ranking_row {
    width: 100%;
    display: table-row;
}

.ranking_cell {
    width: 20%;
    display: table-cell;
    padding: 30px;
}

.img-container {
    float: left;
    width: 24%;
    padding: 5px;
    position: relative;
}

.img-container .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}

body {
    margin: 0;
    padding: 0;
    height: 100%
}

html {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/*footer {*/
/*    background: #2b2b2b;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    height: 2.5rem;*/
/*    width: 100%;*/

/*}*/

.clear {
    content: "";
    clear: both;
    display: table;
}