#container {
    background-color: #F9f9f9;
    width: 800px;
    height: 600px;
    position: relative;

}

.image {
    border-color: blue;
    background-color: black;
    position: absolute !important;
    width: 20%;
}


.image img {
    width: 100%
}

header {
    background-color: #2b2b2b;
    color: #c5c5c5;
    width: 100%;
}

h1 {
    color: #454545;
    padding-left: 30px;
    padding-top: 10px
}

header div {
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered_container {
    width: 70%;
    margin: 0 auto
}

section #container {
    width: 100%;
}

#results {
    background-color: #2b2b2b;
    color: #c5c5c5;
    width: 100%;
}

#results h1 {
    color: #c5c5c5;
}


#ranking {
}

#ranking img {
    width: 100%;
}

.ranking_table {
    display: table;
    width: 100%
}

.ranking_row {
    width: 100%;
    display: table-row;
}

.ranking_cell {
    width: 20%;
    display: table-cell;
    padding: 30px;
}

.img-container {
    float: left;
    width: 24%;
    padding: 5px;
}

body {
    margin: 0
}

.clear {
    content: "";
    clear: both;
    display: table;
}