.row {
    display: block;
    padding: 0 4px;
    white-space: nowrap;
}

.column {
    display: inline-block;
    padding: 0 4px;
}

.column img {
    vertical-align: middle;
}

#query_zone {
    position: relative;
}

.arrow {
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    margin: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.box {
    height: 150px;
    width: 150px;
    background: lightgray;
    position: relative;
}



/*.wrap {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 25%;*/
/*  height: 25%;*/
/*  width: 50%;*/
/*  overflow: hidden;*/
/*}*/
/*.touch {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 50%;*/
/*  height: 200%;*/
/*  width: 200%;*/
/*  transform: rotate(45deg);*/
/*  transform-origin: top left;*/
/*  background: gray;*/
/*  cursor: pointer;*/
/*}*/
/*.wrap:nth-child(2) {*/
/*  transform: rotate(90deg);*/
/*  transform-origin: top left;*/
/*  top: 25%;*/
/*  left: 100%;*/
/*}*/
/*.wrap:nth-child(3) {*/
/*  transform: rotate(180deg);*/
/*  transform-origin: top left;*/
/*  top: 100%;*/
/*  left: 75%;*/
/*}*/
/*.wrap:nth-child(4) {*/
/*  transform: rotate(-90deg);*/
/*  transform-origin: top left;*/
/*  top: 75%;*/
/*  left: 0;*/
/*}*/
/*.touch:hover {*/
/*  background: tomato;*/
/*}*/
