$highlight_background_color: #2b2b2b;
$contrastive_text_color: white;
$color-primary: lightgrey;
$color-accent: orange;
$color-accent_light: Moccasin;
$color-primary-contrast: orange;
$color-accent-contrast: orange;