{% extends 'base.html' %}
{% load static %}
{#{% load staticfiles %}#}

{% block javascript %}
    <script src="{% static 'js/hiding_overlay_image.js' %}"></script>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'face_features/styles.css' %}">
{% endblock %}

{% block content %}

    <div class="image_overlay_wrap">
        <div id="overlay" class="image_overlay" style="background-image: url('{{ search_image }}')">
        </div>

        <div id="query_zone">
            <a href="javascript:sendRequest('right')"><i class="arrow right"></i></a>
            <a href="javascript:sendRequest('left')"><i class="arrow left"></i></a>
            <a href="javascript:sendRequest('up')"><i class="arrow up"></i></a>
            <a href="javascript:sendRequest('down')"><i class="arrow down"></i></a>
            <a href="javascript:sendRequest('out')">OUT</a>

            <a href="javascript:showImageTemporarly(true);" id="show_image_show">Show searched
                image</a>
            <a href="javascript:showImageTemporarly(false);" id="show_image_hide" style="display:none;">Hide searched
                image</a>

            <div id="image_table">

            </div>
        </div>
    </div>
    <script>
        var src_dict = {};

        var tree_view = null;
        var link = null;
        $(document).ready(function () {
            showImageTemporarly(true);
            sendRequest(null);

        });

        function row_divider() {
            return `<div class="clear"></div>`
        }

        function grid_image(image) {
            var src = image['img_src'];

            var new_id = Object.keys(src_dict).length;
            src_dict[new_id] = src;

            var crop = image['crop'];
            var x = image['x'];
            var y = image['y'];


            var img_width = 320;
            var img_height = 180;
            var fixed_height = 80;

            var crop_height = img_height * crop['height'];
            var crop_width = img_width * crop['width'];
            var crop_x = crop['x'] * img_width;
            var crop_y = crop['y'] * img_height;

            var ratio = fixed_height / crop_height;
            console.log(image['face_index']);
            {#TODO: Hide some given properties of styles to css classes#}
            return `<div class="column wrap_corner_icon" style="
                        width:${crop_width * ratio}px;
                        height:${crop_height * ratio}px;
                        overflow:hidden;"
                    >
                        <a href="javascript:sendRequest('in', ${y}, ${x})">
                            <img src=${src} style="
                                width:${img_width * ratio}px;
                                height:${img_height * ratio}px;
                                object-position: ${-crop_x * ratio}px ${-crop_y * ratio}px;
                                object-fit:cover;"
                            />
                        </a>
                        <div class="top_right_icon_box">
                            <a href='javascript:video_images_request(${new_id})'  class="icon"><img src="{% static "images/movie-24px.svg" %}" /></a>
                            <a href='javascript:closest_images_to_face(${image['face_index']})'  class="icon"><img src="{% static "images/face-24px.svg" %}" /></a>
                        </div>

                    </div>`;
        }

        function update_image_grid(image_grid) {
            let images_grid = [];
            for (const row of image_grid) {
                images_grid.push(`<div class="row">`);
                for (const image_info of row) {
                    images_grid.push(grid_image(image_info));
                }
                images_grid.push(`</div>`);
                images_grid.push(row_divider());
            }

            $("#image_table").html(images_grid.join(""));
        }

        function submit(chosen) {
            const data = {
                "request": "{{ search_image }}",
                "selected": chosen,
                "num_hints": num_hints_for_overlay,
            };
            console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'video_images_submit' %}",
                data: data,
                success(response) {
                    console.log(response);
                },
                failure(data) {
                    console.log("Failure", data);
                }
            });}

        function closest_images_to_face(id) {
            console.log("closest face");
            console.log(id);
            $.ajax({
                type: "POST",
                url: "{% url 'closest_images_to_face' %}",
                data: {"id": id},
                success(response) {
                    console.log(response);
                    image_table($(".search_results"), response['images'], "{% static "images/icon_submit.svg" %}");
                    $("#results").show();
                },
                failure(data) {
                    console.log("Failure", data);
                }
            });

        }

        function video_images_request(id) {
            const data = {
                "src": src_dict[id]
            };
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "{% url 'video_images_post' %}",
                data: data,
                success(response) {
                    console.log(response);
                    {#image_table(dom_element=$(".search_results"), images=response['files'], submit_func=null, submit_icon_path={% static "images/icon_eye.svg" %});#}
                    image_table($(".search_results"), response['files'], "{% static "images/icon_submit.svg" %}");
                    $("#results").show();
                },
                failure(data) {
                    console.log("Failure", data);
                }
            });
        }


        function sendRequest(action, y = null, x = null) {
            console.log(tree_view);
            console.log(action);
            const data = {
                "action": action,
                "x": x,
                "y": y,
            };
            if (tree_view !== null) {
                data['tree_view'] = tree_view;
            }

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "{% url 'repr_tree_post' %}",
                data: data,
                success(response) {
                    console.log(response);
                    update_image_grid(response['images_grid']);
                    tree_view = response['tree_view']
                },
                failure(data) {
                    console.log("Failure", data);
                }
            });
        }
    </script>
{% endblock %}

